body {
  margin: 0;
  /*margin is 0 for all sides! */
  text-align: center;
  font-family: 'Merriweather', serif;
  /*fall backs for fonts */
}

h1 {
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #112d4e;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #112d4e;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}



table{
  border-collapse: collapse;
}

td{
  padding: 0;
}

/* classes */
.top-container {
  background-color: #dbe2ef;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #f9f7f7;
}

.bottom-container {
  background-color: #3f72af;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}


.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}


.dots {
  border-color: #3f72af;
  border-style: dotted none none;
  border-width: 10px;
  height: 0;
  /* this makes the hr 0 pixels high */
  width: 10%;
}

.subheading{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #112d4e;
  font-weight: normal;
}

.btn-link{
  color: #112d4e;
  padding: 20px;

}

.recipe{
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 2;
}

.recipe-link{
  text-align: center;
}
/*............ images ............... */

.macncheese {


  margin-left: auto;
  margin-right: auto;
}

.macncheese2 {
  width: 25%;
  float: left;
  padding-right: 100px;
  padding-bottom: 35px;
}

.headshot {
  border-radius: 100%;
  width: 13%;
  background-color: #dbe2ef;
}

/*........ id's .... */
#name{
  color: #3f72af;
}

#copyright{
  color: white;
  font-size: 0.75em;
}


/*... button */
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #112d4e;
  font-size: 20px;
  background: #dbe2ef;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ebf0fa;
  text-decoration: none;
}
